body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    color: black;
}

/* NAVIAGATION */
nav {
    width: 100%;
    height: 6rem;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav, .logo-div, .nav-menu {
    display: flex;
}

a {
    text-decoration: none;
}

h3 {
    font-weight: 400;
    color: #9E948B;
    line-height: 90%;
    margin-bottom: 0;
    font-size: 2em;
}

h5 {
    font-weight: 200;
    color: #BD9D8B;
    line-height: 90%;
    margin-top: 0;
    font-size: 1.3em;
}

.logo-div {
    padding-top: 4em;
    position: absolute;
    left: 43%;
}

.logo {
    font-size: 3em;
    color: #9E948B;
    font-weight: 100;
}

.hero-grid {
    display: grid;
    width: 100%;
    height: 50vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    padding-top: 4em;
}


.div-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.div-2 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
}

.div-3 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 1;
}

.div-4 {
    grid-column: 4 / span 4;
    grid-row: 1 / span 1;
}

/* HERO GRID IMAGES */

.img-1 {
    background-image: url('./images/img-1.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 25vw;

}

.img-2 {
    background-image: url('./images/img-2.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 50vh;
    width: 25vw;
}

.img-3 {
    background-image: url('./images/img-3.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 50vh;
    width: 25vw;
}

.img-4 {
    background-image: url('./images/img-4.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 25vw;
}

.text-buttons {
    padding-left: 6em;
    margin-top: -4em;

}

.buttons {
    padding: .8em 1.4em;
    margin-top: auto;
    position: absolute;
    background: #FAF4F0;
    color: #9E948B;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
    transition-duration: 1s;
    border-radius: .7em;
    font-weight: 400;
    font-size: 1.1em;
}

.buttons:hover {
    background: #9B1C20;
    color: #ffffff;
}


.footer {
    width: 100%;
    height: 4rem;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #9B1C20;
    position: absolute;
    justify-content: center;
    align-items: center;

}

.footer h3, .footer h5 {
    text-align: center;
    color: #9b7864;
}

.footer h3 {
    font-size: 1em;
}

.footer h5 {
    font-size: .7em;
}


@media only screen and (max-width: 1024px) {
    .hero-grid {
      display: grid;
      width: 100%;
      height: 100vh;
      grid-template-columns: 50% 50%;
      grid-template-rows: 45% 7% 45% 3%;
      padding-top: 4em;
      padding-bottom: 4em; /* add padding-bottom to lengthen the page */
    }

    .div-1 {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    .div-2 {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
    }

    .div-3 {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }

    .div-4 {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
    }

    .footer {
        grid-column: 1 / span 2;
        grid-row: 4;
        width: 100%;
        align-items: center;
        background-color: #ffffff00;
        display: flex;
        justify-content: center;
        align-items: center;
    }




    .img-1, .img-2, .img-3, .img-4 {
      width: 50vw;
    }
  }
